In [1]:
%pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.0.2-cp311-cp311-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
                                              0.0/10.6 MB 1.4 MB/s eta 0:00:08
                                              0.0/10.6 MB 1.4 MB/s eta 0:00:08
                                             0.1/10.6 MB 655.4 kB/s eta 0:00:17
                                             0.1/10.6 MB 731.4 kB/s eta 0:00:15
                                             0.2/10.6 MB 831.5 kB/s eta 0:00:13
                                             0.2/10.6 MB 962.7 kB/s eta 0:00:11
     -                                        0.4/10.6 MB 1.2 MB/s eta 0:00:09
     -                                        0.5/10.6 MB 1.5 MB/s eta 0:00:07
     --                                       0.7/10.6 MB 1.7 MB/s eta 0:00:06
     ---                                      1.0/10.6 MB 2.3 MB/s eta 0:00:05
     ----                                     1.2/10.6 MB 2.3 MB/s eta 0:00:05
     -----                                    1.4/10.6 MB 2.6 MB/s eta 0:00:04
     -----                                    1.4/10.6 MB 2.6 MB/s eta 0:00:04
     -----                                    1.4/10.6 MB 2.6 MB/s eta 0:00:04
     -----                                    1.5/10.6 MB 2.2 MB/s eta 0:00:05
     ---------                                2.4/10.6 MB 3.4 MB/s eta 0:00:03
     ---------                                2.5/10.6 MB 3.1 MB/s eta 0:00:03
     ---------                                2.6/10.6 MB 3.1 MB/s eta 0:00:03
     ---------                                2.6/10.6 MB 3.1 MB/s eta 0:00:03
     ---------                                2.6/10.6 MB 3.1 MB/s eta 0:00:03
     ----------                               2.7/10.6 MB 2.8 MB/s eta 0:00:03
     -------------                            3.6/10.6 MB 3.6 MB/s eta 0:00:02
     --------------                           3.7/10.6 MB 3.5 MB/s eta 0:00:02
     ---------------                          4.0/10.6 MB 3.7 MB/s eta 0:00:02
     ---------------                          4.0/10.6 MB 3.7 MB/s eta 0:00:02
     ---------------                          4.1/10.6 MB 3.4 MB/s eta 0:00:02
     -----------------                        4.7/10.6 MB 3.8 MB/s eta 0:00:02
     ------------------                       5.0/10.6 MB 3.9 MB/s eta 0:00:02
     -------------------                      5.2/10.6 MB 3.9 MB/s eta 0:00:02
     --------------------                     5.3/10.6 MB 3.9 MB/s eta 0:00:02
     ---------------------                    5.6/10.6 MB 3.9 MB/s eta 0:00:02
     ---------------------                    5.7/10.6 MB 4.0 MB/s eta 0:00:02
     ---------------------                    5.8/10.6 MB 3.9 MB/s eta 0:00:02
     ---------------------                    5.8/10.6 MB 3.9 MB/s eta 0:00:02
     -----------------------                  6.2/10.6 MB 3.9 MB/s eta 0:00:02
     ------------------------                 6.5/10.6 MB 3.9 MB/s eta 0:00:02
     ------------------------                 6.5/10.6 MB 3.8 MB/s eta 0:00:02
     -------------------------                6.7/10.6 MB 3.9 MB/s eta 0:00:02
     -------------------------                6.8/10.6 MB 3.9 MB/s eta 0:00:01
     --------------------------               7.0/10.6 MB 3.8 MB/s eta 0:00:01
     ---------------------------              7.2/10.6 MB 3.8 MB/s eta 0:00:01
     ---------------------------              7.2/10.6 MB 3.8 MB/s eta 0:00:01
     ----------------------------             7.4/10.6 MB 3.8 MB/s eta 0:00:01
     ----------------------------             7.6/10.6 MB 3.7 MB/s eta 0:00:01
     ----------------------------             7.6/10.6 MB 3.7 MB/s eta 0:00:01
     -----------------------------            7.8/10.6 MB 3.6 MB/s eta 0:00:01
     -----------------------------            7.9/10.6 MB 3.7 MB/s eta 0:00:01
     ------------------------------           8.1/10.6 MB 3.7 MB/s eta 0:00:01
     -------------------------------          8.3/10.6 MB 3.7 MB/s eta 0:00:01
     -------------------------------          8.3/10.6 MB 3.6 MB/s eta 0:00:01
     --------------------------------         8.6/10.6 MB 3.6 MB/s eta 0:00:01
     --------------------------------         8.7/10.6 MB 3.6 MB/s eta 0:00:01
     ---------------------------------        8.8/10.6 MB 3.6 MB/s eta 0:00:01
     ---------------------------------        9.0/10.6 MB 3.6 MB/s eta 0:00:01
     ----------------------------------       9.2/10.6 MB 3.6 MB/s eta 0:00:01
     -----------------------------------      9.3/10.6 MB 3.6 MB/s eta 0:00:01
     -----------------------------------      9.5/10.6 MB 3.6 MB/s eta 0:00:01
     ------------------------------------     9.7/10.6 MB 3.6 MB/s eta 0:00:01
     ------------------------------------     9.8/10.6 MB 3.6 MB/s eta 0:00:01
     -------------------------------------    9.9/10.6 MB 3.6 MB/s eta 0:00:01
     -------------------------------------    9.9/10.6 MB 3.6 MB/s eta 0:00:01
     -------------------------------------    9.9/10.6 MB 3.6 MB/s eta 0:00:01
     --------------------------------------   10.1/10.6 MB 3.5 MB/s eta 0:00:01
     --------------------------------------   10.3/10.6 MB 3.5 MB/s eta 0:00:01
     ---------------------------------------  10.4/10.6 MB 3.7 MB/s eta 0:00:01
     ---------------------------------------  10.5/10.6 MB 3.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 3.7 MB/s eta 0:00:01
     ---------------------------------------- 10.6/10.6 MB 3.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alkyc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
                                              0.0/502.3 kB ? eta -:--:--
     ----------                             143.4/502.3 kB 2.8 MB/s eta 0:00:01
     --------------------                   276.5/502.3 kB 3.4 MB/s eta 0:00:01
     -----------------------------          389.1/502.3 kB 3.0 MB/s eta 0:00:01
     -------------------------------------- 502.3/502.3 kB 2.9 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     --------                                 71.7/341.8 kB ? eta -:--:--
     --------                                 71.7/341.8 kB ? eta -:--:--
     -------------------------------------  337.9/341.8 kB 2.6 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\alkyc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\alkyc\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.2 pytz-2023.3 tzdata-2023.3

## Pandas - библиотека для работы с данными

In [2]:
import pandas as pd

- Объект класса Series

In [3]:
# Series - 1-мерный массив данных
# создание на базе списка
l1 = [10, 20, 30, 40]
s1 = pd.Series(l1)
s1

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# создание на базе словаря
d1 = {'a':100, 5:20, 0:500}
s2 = pd.Series(d1)
s2

a    100
5     20
0    500
dtype: int64

In [5]:
# явные индексы
s1[0]

10

In [6]:
s2[0]

500

In [7]:
s2['a']

100

In [8]:
# неявные индексы
# атрибут-индексатор дл НЕявных индексов
s1.iloc[0]

10

In [9]:
s1.iloc[-1]

40

In [10]:
s2.iloc[0]

100

In [11]:
s2.iloc[-1]

500

In [12]:
s2.shape

(3,)

In [13]:
s2.size

3

In [14]:
s2.index

Index(['a', 5, 0], dtype='object')

In [15]:
s2.values

array([100,  20, 500], dtype=int64)

In [16]:
# Данные по населению городов Якутии
pop_d = {
    "Yakutsk": 318768,
    "Neryungri": 57009,
    "Viliuysk": 11095
}

pop_s = pd.Series(pop_d)
pop_s

Yakutsk      318768
Neryungri     57009
Viliuysk      11095
dtype: int64

In [ ]:
# 1. вывести значение населения выбранного города
# 2. срез данных от Нерюнгри до Вилюйска

In [17]:
# 1.
pop_s["Yakutsk"]

318768

In [18]:
pop_s["Neryungri"]

57009

In [19]:
pop_s["Viliuysk"]

11095

In [24]:
# 2.
# явные индексы
pop_s["Neryungri":"Viliuysk"]

Neryungri    57009
Viliuysk     11095
dtype: int64

In [29]:
# неявные индексы
pop_s.iloc[1:3]

Neryungri    57009
Viliuysk     11095
dtype: int64

In [30]:
# DataFrame - 2 мерный массив данных
d2 ={
    "col_1": {"row 1": 100, "row 2": 200},
    "col_2": {"row 2": 300, "row 3": 400}
}
df1 = pd.DataFrame(d2)
df1

       col_1  col_2
row 1  100.0    NaN
row 2  200.0  300.0
row 3    NaN  400.0

In [34]:
data = pd.read_csv("data/president_heights.csv")
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [36]:
# данные из строки
data["name"].head(10)

0         George Washington
1                John Adams
2          Thomas Jefferson
3             James Madison
4              James Monroe
5         John Quincy Adams
6            Andrew Jackson
7          Martin Van Buren
8    William Henry Harrison
9                John Tyler
Name: name, dtype: object

In [37]:
data.loc[0, "name"]

'George Washington'

In [38]:
data.loc[0, :]

order                         1
name          George Washington
height(cm)                  189
Name: 0, dtype: object

In [39]:
data.loc[10:20, :]

    order                 name  height(cm)
10     11        James K. Polk         173
11     12       Zachary Taylor         173
12     13     Millard Fillmore         175
13     14      Franklin Pierce         178
14     15       James Buchanan         183
15     16      Abraham Lincoln         193
16     17       Andrew Johnson         178
17     18     Ulysses S. Grant         173
18     19  Rutherford B. Hayes         174
19     20    James A. Garfield         183
20     21    Chester A. Arthur         183

In [40]:
data.loc[10:20, "name":]

                   name  height(cm)
10        James K. Polk         173
11       Zachary Taylor         173
12     Millard Fillmore         175
13      Franklin Pierce         178
14       James Buchanan         183
15      Abraham Lincoln         193
16       Andrew Johnson         178
17     Ulysses S. Grant         173
18  Rutherford B. Hayes         174
19    James A. Garfield         183
20    Chester A. Arthur         183